.red {
  background: #c71b1b;
}

.yellow {
  background: #fbff00;
}

.blue {
  background: #00dcff;
}

.green {
  background: #00ff08;
}

.pink {
  background: #fb00ff;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px 20px;
}
