.logo-2 {
  z-index: 1;
  position: relative;
  align-items: center;
  margin: 2px 30px 0 0px;

}

.logo-2 img {
  height: 50px;
  object-fit: cover;
}

.vote-container {
  width: 100%;
  z-index: 1;
}

.vote-header {
  display: flex;
  align-items: center;
}

.vote-btn {
  display: flex;
  justify-content: center;
}

.party-container {
  display: flex;
  justify-content: center;
}

.position {
  font-size: 20px;
  margin: 30px 30px 0;
  text-align: center;
}

.dots {
  z-index: 1;
  position: relative;
  text-align: center;

}

.dots img {
  height: 50px;
  object-fit: cover;
}
